@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: Jost;
}
html{
  width: 100%;
  overflow-x: hidden;
  overflow-y:  hidden;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}
button{
  font-family: Jost;
}
h1{
  font-family: Gowun Batang;
}
body{
  overflow-x: hidden;
  overflow-y:  hidden;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}